In [23]:
# %load data_plotter.py
from bokeh.plotting import figure, curdoc, show
from bokeh.models.sources import ColumnDataSource
import pandas as pd
import psycopg2

# p = figure(toolbar_location=None)
p = figure()

conn = psycopg2.connect("dbname=stocks user=ajpryor")
df = pd.read_sql("""
	SELECT * FROM stock_prices
	WHERE stock_name IN ('GE', 'AMZN', 'GOOG', 'TSLA', 'AAPL', 'NFLX');
	""", conn)

df['time'] = pd.to_datetime(df['time'])
df['time'] = df['time'].apply(lambda x: x.minute)

print(df.head(1000))
line_colors = ['red','green','black','cyan','firebrick','olive']
line_dashes = ['solid','dashed','dotted','dashdot','solid','solid']

grouped = df.groupby('stock_name')
ys = [grouped.get_group(stock)['price'] for stock in df.stock_name.unique()]
for i, y in enumerate(ys):
	p.line(x=list(range(len(y))),
	y=y,
	line_alpha=1,
	line_color=line_colors[i],
	line_dash=line_dashes[i],
	line_width=4)

# show(p)
# ds = p.data_source
def callback():
	print("hey!")
	df = pd.read_sql("""
	SELECT * FROM stock_prices
	WHERE stock_name IN ('GE', 'AMZN', 'GOOG', 'TSLA', 'AAPL', 'NFLX');
	""", conn)

	print(df.head(1000))
	line_colors = ['red','green','black','cyan','firebrick','olive']
	line_dashes = ['solid','dashed','dotted','dashdot','solid','solid']

	grouped = df.groupby('stock_name')
	ys = [grouped.get_group(stock)['price'] for stock in df.stock_name.unique()]
	xs = [grouped.get_group(stock)['time'] for stock in df.stock_name.unique()]

	for i, (x, y) in enumerate(zip(xs, ys)):
		p.line(x=x,
		y=y,
		line_alpha=1,
		line_color=line_colors[i],
		line_dash=line_dashes[i],
		line_width=4)


	# ys = [grouped.get_group(stock)['price'] for stock in df.stock_name.unique()]
	# for i, y in enumerate(ys):
	# 	p.line(x=list(range(len(y))),
	# 	y=y,
	# 	line_alpha=1,
	# 	line_color=line_colors[i],
	# 	line_dash=line_dashes[i],
	# 	line_width=4)
# p.add_periodic_callback(callback, 500)
curdoc().add_root(p)
curdoc().add_periodic_callback(callback, 500)

       id stock_name    price  time
0       1       AAPL  154.390     0
1       2       AAPL  154.390     0
2       3       AAPL  154.390     0
3       4       AAPL  154.390     0
4     261       NFLX  188.965     1
5     137       NFLX  188.870    55
6     144       NFLX  188.870    55
7     157       NFLX  188.870    55
8     284         GE   24.705    30
9     285       AMZN  965.850    30
10    286       GOOG  935.200    30
11    287       TSLA  365.630    30
12    288       AAPL  153.955    30
13    289       NFLX  189.070    30
14    290         GE   24.705    30
15    291       AMZN  965.850    30
16    292       GOOG  935.200    30
17    293       TSLA  365.830    30
18    294       AAPL  153.955    30
19    295       NFLX  189.070    30
20    296         GE   24.705    31
21    297       AMZN  965.850    31
22    298       GOOG  935.195    31
23    299       TSLA  365.480    31
24    300       AAPL  153.955    31
25    301       NFLX  189.070    31
26    302         GE   24.705    31
27    303       AMZN  965.850    31
28    304       GOOG  935.135    31
29    305       TSLA  365.480    31
..    ...        ...      ...   ...
970  1246       GOOG  933.800    30
971  1247       TSLA  363.665    30
972  1248       AAPL  151.415    30
973  1249       NFLX  188.300    30
974  1250         GE   24.915    30
975  1251       AMZN  962.390    30
976  1252       GOOG  933.800    30
977  1253       TSLA  363.705    30
978  1254       AAPL  151.415    30
979  1255       NFLX  188.300    30
980  1256         GE   24.910    30
981  1257       AMZN  962.390    30
982  1258       GOOG  933.800    30
983  1259       TSLA  363.705    30
984  1260       AAPL  151.415    30
985  1261       NFLX  188.300    30
986  1262         GE   24.910    30
987  1263       AMZN  962.390    30
988  1264       GOOG  933.800    30
989  1265       TSLA  363.700    30
990  1266       AAPL  151.415    30
991  1267       NFLX  188.300    30
992  1268         GE   24.910    30
993  1269       AMZN  962.390    30
994  1270       GOOG  933.800    30
995  1271       TSLA  363.700    30
996  1272       AAPL  151.360    30
997  1273       NFLX  188.300    30
998  1274         GE   24.910    30
999  1275       AMZN  962.390    30

[1000 rows x 4 columns]

In [16]:
df.loc[df.time > pd.to_datetime('14:01:03.252261')].head(100)

Empty DataFrame
Columns: [id, stock_name, price, time]
Index: []

In [26]:
df = pd.DataFrame(['05/06/2015 00:00', '22/06/2015 00:00', None], columns=['myDate'])

myDate    object
dtype: object

In [36]:
# %load data_plotter.py
from bokeh.plotting import figure, curdoc, show
from bokeh.models.sources import ColumnDataSource
import pandas as pd
import psycopg2

from datetime import datetime, timedelta
last_hour_date_time = datetime.now() - timedelta(hours = 1)

# p = figure(toolbar_location=None)
p = figure()

conn = psycopg2.connect("dbname=stocks user=ajpryor")
line_colors = ['red','green','black','cyan','firebrick','olive']
line_dashes = ['solid','dashed','dotted','dashdot','solid','solid']

def callback():
	last_minute_date_time = datetime.now() - timedelta(minutes = 100)

	df = pd.read_sql("""
	SELECT * FROM stock_prices
	WHERE stock_name IN ('GE', 'AMZN', 'GOOG', 'TSLA', 'AAPL', 'NFLX')
	AND time >= NOW() - '7 day'::INTERVAL
	""", conn)

	line_colors = ['red','green','black','cyan','firebrick','olive']
	line_dashes = ['solid','dashed','dotted','dashdot','solid','solid']

	grouped = df.groupby('stock_name')
	ys = [grouped.get_group(stock)['price'] for stock in df.stock_name.unique()]
	xs = [grouped.get_group(stock)['time'] for stock in df.stock_name.unique()]

	for i, (x, y) in enumerate(zip(xs, ys)):
		p.line(x=x,
		y=y,
		line_alpha=1,
		line_color=line_colors[i],
		line_dash=line_dashes[i],
		line_width=4)

curdoc().add_root(p)
curdoc().add_periodic_callback(callback, 500)

In [37]:
a = p.line(x=xs[0],
		y=ys[0],
		line_alpha=1,
		line_color=line_colors[0],
		line_dash=line_dashes[0],
		line_width=4)

/usr/local/lib/python3.6/site-packages/bokeh/models/sources.py:137: BokehUserWarning: ColumnDataSource's columns must be of the same length. Current lengths: ('x', 215), ('y', 313)
  "Current lengths: %s" % ", ".join(sorted(str((k, len(v))) for k, v in data.items())), BokehUserWarning))

In [40]:
dir(a.data_source)

['__cached_all__overridden_defaults__',
 '__cached_all__properties__',
 '__cached_all__properties_with_refs__',
 '__class__',
 '__container_props__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__properties__',
 '__properties_with_refs__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__view_model__',
 '__weakref__',
 '_attach_document',
 '_callbacks',
 '_clone',
 '_data_from_df',
 '_data_from_groupby',
 '_detach_document',
 '_document',
 '_event_callbacks',
 '_id',
 '_overridden_defaults',
 '_property_values',
 '_repr_html_',
 '_repr_pretty',
 '_stream',
 '_to_json_like',
 '_trigger_event',
 '_unstable_default_values',
 '_unstable_themed_values',
 '_update_event_callbacks',
 'add',
 'apply_theme',
 'callback',
 'column_names',
 'data',
 'dataspecs',
 'dataspecs_with_props',
 'document',
 'equals',
 'from_df',
 'from_groupby',
 'js_event_callbacks',
 'js_on_change',
 'js_on_event',
 'js_property_callbacks',
 'layout',
 'lookup',
 'name',
 'on_change',
 'on_event',
 'patch',
 'pprint',
 'pretty',
 'properties',
 'properties_containers',
 'properties_with_refs',
 'properties_with_values',
 'query_properties_with_values',
 'ref',
 'references',
 'remove',
 'remove_on_change',
 'select',
 'select_one',
 'selected',
 'set_from_json',
 'set_select',
 'stream',
 'subscribed_events',
 'tags',
 'themed_values',
 'to_df',
 'to_json',
 'to_json_string',
 'trigger',
 'unapply_theme',
 'update',
 'update_from_json']

In [41]:
a.data_source.column_names

['x', 'y']

In [42]:
a.data_source.data

{'x': [0,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  61,
  62,
  63,
  64,
  65,
  66,
  67,
  68,
  69,
  70,
  71,
  72,
  73,
  74,
  75,
  76,
  77,
  78,
  79,
  80,
  81,
  82,
  83,
  84,
  85,
  86,
  87,
  88,
  89,
  90,
  91,
  92,
  93,
  94,
  95,
  96,
  97,
  98,
  99,
  100,
  101,
  102,
  103,
  104,
  105,
  106,
  107,
  108,
  109,
  110,
  111,
  112,
  113,
  114,
  115,
  116,
  117,
  118,
  119,
  120,
  121,
  122,
  123,
  124,
  125,
  126,
  127,
  128,
  129,
  130,
  131,
  132,
  133,
  134,
  135,
  136,
  137,
  138,
  139,
  140,
  141,
  142,
  143,
  144,
  145,
  146,
  147,
  148,
  149,
  150,
  151,
  152,
  153,
  154,
  155,
  156,
  157,
  158,
  159,
  160,
  161,
  162,
  163,
  164,
  165,
  166,
  167,
  168,
  169,
  170,
  171,
  172,
  173,
  174,
  175,
  176,
  177,
  178,
  179,
  180,
  181,
  182,
  183,
  184,
  185,
  186,
  187,
  188,
  189,
  190,
  191,
  192,
  193,
  194,
  195,
  196,
  197,
  198,
  199,
  200,
  201,
  202,
  203,
  204,
  205,
  206,
  207,
  208,
  209,
  210,
  211,
  212,
  213,
  214],
 'y': 0       154.390
 1       154.390
 2       154.390
 3       154.390
 12      153.955
 18      153.955
 24      153.955
 30      153.955
 36      153.820
 42      153.820
 48      153.820
 54      153.920
 60      153.920
 66      153.915
 72      153.920
 78      153.900
 84      153.905
 90      153.870
 96      153.870
 102     153.850
 108     153.890
 114     153.890
 120     153.860
 126     153.860
 132     153.855
 138     153.855
 144     153.965
 150     153.965
 156     151.545
 162     151.545
          ...
 1686    150.620
 1692    150.620
 1698    150.595
 1704    150.595
 1710    150.595
 1716    150.595
 1722    150.595
 1728    150.595
 1734    150.600
 1740    150.600
 1746    150.600
 1752    150.600
 1758    150.600
 1764    150.600
 1770    150.600
 1776    150.600
 1782    150.600
 1788    150.600
 1794    150.600
 1800    150.600
 1806    150.600
 1812    150.590
 1818    150.590
 1824    150.590
 1830    150.590
 1836    150.590
 1842    150.600
 1848    150.600
 1854    150.650
 1860    150.650
 Name: price, Length: 313, dtype: float64}

In [44]:
conn = psycopg2.connect("dbname=stocks user=ajpryor")
df = pd.read_sql("""
SELECT * FROM stock_prices
WHERE stock_name IN ('GE', 'AMZN', 'GOOG', 'TSLA', 'AAPL', 'NFLX')
AND time >= NOW() - '7 day'::INTERVAL
""", conn)

In [45]:
df.head()

    id stock_name    price                       time
0    1       AAPL  154.390 2017-09-21 00:00:00.000000
1    2       AAPL  154.390 2017-09-21 00:00:00.000000
2    3       AAPL  154.390 2017-09-21 00:00:00.000000
3    4       AAPL  154.390 2017-09-21 00:00:00.000000
4  261       NFLX  188.965 2017-09-21 14:01:03.252261

In [46]:
grouped = df.groupby('stock_name')

In [60]:
x,y = grouped.get_group('AAPL')[['time', 'price']]

AttributeError: 'DataFrame' object has no attribute 'data'

In [61]:
dir(grouped.get_group('AAPL')[['time', 'price']])

['T',
 '_AXIS_ALIASES',
 '_AXIS_IALIASES',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_AXIS_SLICEMAP',
 '__abs__',
 '__add__',
 '__and__',
 '__array__',
 '__array_wrap__',
 '__bool__',
 '__bytes__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__div__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdiv__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__unicode__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_numeric_operations',
 '_add_series_only_operations',
 '_add_series_or_dataframe_operations',
 '_agg_by_level',
 '_agg_doc',
 '_aggregate',
 '_aggregate_multiple_funcs',
 '_align_frame',
 '_align_series',
 '_apply_broadcast',
 '_apply_empty_result',
 '_apply_raw',
 '_apply_standard',
 '_at',
 '_box_col_values',
 '_box_item_values',
 '_builtin_table',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_percentile',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_scalar',
 '_combine_const',
 '_combine_frame',
 '_combine_match_columns',
 '_combine_match_index',
 '_combine_series',
 '_combine_series_infer',
 '_compare_frame',
 '_compare_frame_evaluate',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_dict_for_slice',
 '_construct_axes_dict_from',
 '_construct_axes_from_arguments',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_count_level',
 '_create_indexer',
 '_cython_table',
 '_dir_additions',
 '_dir_deletions',
 '_ensure_valid_index',
 '_expand_axes',
 '_flex_compare_frame',
 '_from_arrays',
 '_from_axes',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_numeric_data',
 '_get_values',
 '_getitem_array',
 '_getitem_column',
 '_getitem_frame',
 '_getitem_multilevel',
 '_getitem_slice',
 '_gotitem',
 '_iat',
 '_iget_item_cache',
 '_iloc',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_dict',
 '_init_mgr',
 '_init_ndarray',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cached',
 '_is_cython_func',
 '_is_datelike_mixed_type',
 '_is_mixed_type',
 '_is_numeric_mixed_type',
 '_is_view',
 '_ix',
 '_ixs',
 '_join_compat',
 '_loc',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_needs_reindex_multi',
 '_obj_with_exclusions',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_axis',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_series',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_is_copy',
 '_set_item',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_setup_axes',
 '_shallow_copy',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_try_aggregate_string_function',
 '_typ',
 '_unpickle_frame_compat',
 '_unpickle_matrix_compat',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 '_xs',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'as_blocks',
 'as_matrix',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'axes',
 'between_time',
 'bfill',
 'blocks',
 'bool',
 'boxplot',
 'clip',
 'clip_lower',
 'clip_upper',
 'columns',
 'combine',
 'combine_first',
 'compound',
 'consolidate',
 'convert_objects',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'floordiv',
 'from_csv',
 'from_dict',
 'from_items',
 'from_records',
 'ftypes',
 'ge',
 'get',
 'get_dtype_counts',
 'get_ftype_counts',
 'get_value',
 'get_values',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'info',
 'insert',
 'interpolate',
 'is_copy',
 'isin',
 'isnull',
 'items',
 'iteritems',
 'iterrows',
 'itertuples',
 'ix',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notnull',
 'nsmallest',
 'nunique',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'price',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_axis',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_index',
 'set_value',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'sortlevel',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'time',
 'to_clipboard',
 'to_csv',
 'to_dense',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_msgpack',
 'to_panel',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sparse',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tshift',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'values',
 'var',
 'where',
 'xs']

In [62]:

image_urls = {'GE'   :  'https://storage.googleapis.com/iex/api/logos/GE.png',
'AMZN'  :  'https://storage.googleapis.com/iex/api/logos/AMZN.png',
'GOOG'  :  'https://storage.googleapis.com/iex/api/logos/GOOG.png',
'TSLA'  :  'https://storage.googleapis.com/iex/api/logos/TSLA.png',
'AAPL'  :  'https://storage.googleapis.com/iex/api/logos/AAPL.png',
'NFLX'  :  'https://storage.googleapis.com/iex/api/logos/NFLX.png'}

In [63]:
[v for i, v in image_urls.items()]

['https://storage.googleapis.com/iex/api/logos/GE.png',
 'https://storage.googleapis.com/iex/api/logos/AMZN.png',
 'https://storage.googleapis.com/iex/api/logos/GOOG.png',
 'https://storage.googleapis.com/iex/api/logos/TSLA.png',
 'https://storage.googleapis.com/iex/api/logos/AAPL.png',
 'https://storage.googleapis.com/iex/api/logos/NFLX.png']