In [23]:
import psycopg2
conn = psycopg2.connect("dbname=stocks user=ajpryor")

In [24]:
import pandas as pd
df = pd.read_sql('SELECT * from stock_prices;', conn)
df.head()

    id stock_name    price                       time
0    1       AAPL  154.390 2017-09-21 00:00:00.000000
1    2       AAPL  154.390 2017-09-21 00:00:00.000000
2    3       AAPL  154.390 2017-09-21 00:00:00.000000
3    4       AAPL  154.390 2017-09-21 00:00:00.000000
4  261       NFLX  188.965 2017-09-21 14:01:03.252261

In [27]:
cur = conn.cursor()
cur.execute("""
INSERT INTO stock_prices VALUES(2,
'NFLX',
188.965,
'2017-09-21 14:01:03.252261'
);
""")

ERROR:root:An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 0))

ProgrammingError: syntax error at or near ")"
LINE 6: );
        ^

In [17]:
cur = conn.cursor()
cur.execute("""
INSERT INTO stock_prices (time, stock_name, price) VALUES(
		'2017-09-21 14:01:03.252261',
		'NFLX',
		188.965);
""")

In [7]:
a = cur.execute('SELECT * from stock_prices;')

In [4]:
print(a)

None